<div class="container">
    <h1>Home</h1>
    <br>
    <h2>Most Impressive Stats</h2>
    <table class="table">
        <tr>
            <td style="font:bold">Most Watched Channel: </td>
            <td>example</td>
        </tr>
        <tr>
            <td style="font:bold">Other Impressive Stat:</td>
            <td>example</td>
        </tr>
    </table>

    <br><br>

    <div id="projectCarousel" class="carousel slide" data-ride="carousel" data-bs-touch="true">
      <div class="carousel-indicators" id="carousel-bottom-indicators">
        <button type="button" data-bs-target="#projectCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#projectCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#projectCarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active container" id="carousel-item-1">
          <img src="https://www.reusableart.com/wp-content/uploads/2014/03/bw-dogs-19.jpg" class="d-block w-100" alt="test image">
          <div class="carousel-caption d-none d-md-block">
            <div class="card">
              <h5 class="card-title">Most Watched Channel</h5>
              <div class="card-body">
                <p class="card-text">example text <a href="">With Dummy Link!</a>
                <br> and also some data {{results.data.etag}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item container" id="carousel-item-2">
          <img src="https://www.reusableart.com/wp-content/uploads/2016/02/grey-elephant.png" class="d-block w-100" alt="test image">
          <div class="carousel-caption d-none d-md-block">
            <div class="card">
              <h5 class="card-title">Most Watched... Video?</h5>
              <div class="card-body">
                <p class="card-text">example text 2.0</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item container" id="carousel-item-3">
          <img src="https://www.reusableart.com/wp-content/uploads/2019/02/field-voles.jpeg" class="d-block w-100" alt="test image">
          <div class="carousel-caption d-none d-md-block">
            <div class="card">
              <h5 class="card-title">Most Looked At Comment!</h5>
              <div class="card-body">
                <p class="card-text">example text 3.0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
       <button class="carousel-control-prev" type="button" href="#projectCarousel" data-bs-slide="prev" id="carousel-next">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" href="#projectCarousel" data-bs-slide="next" id="carousel-next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
       </button>
      </div>
    </div>
</div>