<h1 style="text-align: center;">User Profile</h1>
<table>
    <tr>
        <th>
            USERNAME
        </th>
        <th>placeholder</th>
    </tr>
    <tr>
        <th>
            EMAIL ADRESS
        </th>
        <th>placeholder</th>
    </tr>
    <tr>
        <th>PASSWORD</th>
        <th>placeholder</th>
    </tr>
</table>