<head>
    <style>
        body {
            background-image: linear-gradient(to bottom right, #ff0000, #282828);
        }
    </style>
    <h1 style="color:white;text-align: center;">User Profile</h1>
</head>

<body>
    <table class="table">
        <tr>
            <th>
                <td style="font:bold">USERNAME: </td>
            </th>
            <th>{{username}}</th>
        </tr>
        <tr>
            <th>
                <td style="font:bold">EMAIL ADDRESS: </td>
            </th>
            <th>placeholder</th>
        </tr>
        <tr>
            <th>
                <td style="font:bold">PASSWORD: </td>
            </th>
            <th style="-webkit-text-security: circle">{{password}}</th>
        </tr>
    </table>
</body>
