<h1 style="text-align: center;">User Profile</h1>
<table class="table">
    <tr>
        <th>
            <td style="font:bold">USERNAME: </td>
        </th>
        <th>{{username}}</th>
    </tr>
    <tr>
        <th>
            <td style="font:bold">EMAIL ADDRESS: </td>
        </th>
        <th>placeholder</th>
    </tr>
    <tr>
        <th>
            <td style="font:bold">PASSWORD: </td>
        </th>
        <th>{{password}}</th>
    </tr>
</table>