<head>
    <style>
        body {
            background-image: linear-gradient(to bottom right, #ff0000, #282828);
        }

    </style>
    <h1 style="color:white;text-align: center;">YouTube Wrapped Stats</h1>
</head>


<body>
    <div class="container-fluid">
        <div class="card-group">
            <div class="card" style="background-color: #ff0000; color:white">
                <h5 class="card-title fw-bold" style="text-align: center;" id="name">Channel Name: </h5>
                <div class="card-body">
                    <p class="card-text" id="likes">Likes Given: </p>
                    <p class="card-text" id="time">Time Watched: </p>
                    <a href="" class="btn btn-primary" id="url" style="border: #000000; background-color:black">Link to channel page</a>
                </div>
            </div>
            <div class="card" style="background-color: #ff0000; color:white">
                <h5 class="card-title fw-bold" style="text-align: center;" id="name">Channel Name: </h5>
                <div class="card-body">
                    <p class="card-text" id="likes">Likes Given: </p>
                    <p class="card-text" id="time">Time Watched: </p>
                    <a href="" class="btn btn-primary" id="url" style="border: #000000; background-color:black">Link to channel page</a>
                </div>
            </div>
            <div class="card" style="background-color: #ff0000; color:white">
                <h5 class="card-title fw-bold" style="text-align: center;" id="name">Channel Name: </h5>
                <div class="card-body">
                    <p class="card-text" id="likes">Likes Given: </p>
                    <p class="card-text" id="time">Time Watched: </p>
                    <a href="" class="btn btn-primary" id="url" style="border: #000000; background-color:black">Link to channel page</a>
                </div>
            </div>
        </div>
    </div>
</body>
